<!-- header -->
<% include ../layouts/headerAdmin %>
<h1>Add a new page</h1>
<!-- back to all pages -->
<a href="/admin">
    <button type="button" class="btn btn-outline-primary">Back to all page</button>
</a>
<!-- form -->
<form method="post" action="/admin/add-page" class="mt-4">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Title" value="<%= title %>">
    </div>
    <div class="form-group">
        <label for="slug">Slug</label>
        <input type="text" name="slug" id="slug" class="form-control" placeholder="Slug" value="<%= slug %>">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" name="content" id="content" class="form-control" placeholder="Content" value="<%= content %>">
    </div>
    <button type="submit" class="btn btn-outline-success">Save</button>
</form>
<!-- footer -->
<% include ../layouts/footerAdmin %>