<% include ../layouts/headerAdmin %>
<h1>Category page</h1>
<a href="admin-categories/add-category">
    <button type="button" class="btn btn-outline-primary">Add a new category</button>
    <% if(categories.length > 0) { %>
</a>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach((category, index) => {
                const { _id, title, slug } = category; %>
            <tr>
                <td>
                    <%= index + 1 %>
                </td>
                <td>
                    <%= title %>
                </td>
                <td>
                    <a href="/admin-categories/edit-category/<%= _id %>">
                        <button type="button" class="btn btn-outline-warning">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/admin-categories/delete-category/<%= _id %>">
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </a>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
<% } %>
<% include ../layouts/footerAdmin %>