<% include ../layouts/headerAdmin %>
    <h1>Admin page</h1>
    <a href="admin/add-page">
        <button type="button" class="btn btn-outline-primary">Add a new page</button>
        <% if(pages.length > 0) { %>
    </a>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% pages.forEach((page, index) => {
                    const { _id, title, slug } = page; %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= title %>
                    </td>
                    <td>
                        <a href="/admin/edit-page/<%= slug %>">
                            <button type="button" class="btn btn-outline-warning">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="/admin/delete-page/<%= _id %>">
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <% } %>
<% include ../layouts/footerAdmin %>